.profile__avatar-button {
  width: 101%;
  height: 101%;
  background-color: rgba(0, 0, 0, 0.8);
  background-image: url(../../../images/edit-photo.svg);
  background-size: 26px;
  background-repeat: no-repeat;
  background-position: center;
  border: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  visibility: hidden;
  transition: all 0.1s linear;
  border-radius: 50%;
  cursor: pointer;
  margin: 0;
  padding: 0;
}
.profile__avatar-button:focus {
  outline: none;
}
