.sign-button {
  width: 100%;
  background: #ffffff;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
  padding: 14px 0;
  transition: .2s linear;
  border-radius: 2px;
  cursor: pointer;
}

.sign-button:hover {
  opacity: 0.85;
}
